.header {
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    margin-right: 93px;
    border-bottom: 1px solid var(--border-cl);

    &__conteiner {
        display: flex;
        align-items: center;
      }
      
      &__logo {
        font-family: var(--secondary-fond);
        font-size: 26px;
        line-height: 1.1923076923;
        letter-spacing: 0.03em;
        margin-right: 93px;
        color: var(--accent-tx-cl);
      }
      
      &__logo--black {
        color: #000000;
      }
  }