.priority {
    padding-bottom: 0;

    &__conteiner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        background: var(--team-bg-cl);
      }

      &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428571429;
        text-transform: uppercase;
        color: var(--black-text-cl);
        margin-bottom: 10px;
      }
  }