.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      line-height: calc(42 / 36);
      color: var(--black-text-cl);
      margin-bottom: 50px;
    }
  }